.outerbox{
    background-color: aqua;
    padding: 10px;
    display: grid;
    grid-template-columns: auto; 
}
.container{
    background-color: aquamarine;
}
.label{
    background-color: aquamarine;
}